<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">已选课程</h4>
                      <p class="card-category">{{student_name}}
                          <br/>学号{{student_id}}</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      课程号
                                  </th>
                                  <th>
                                      课程名
                                  </th>
                                  <th>
                                      学分
                                  </th>
                                  <th>
                                      开课系
                                  </th>
                                  <th>
                                      教师姓名
                                  </th>
                              </thead>
                              <tbody>
                                <tr *ngFor="let class of courses">
                                    <td>{{class.id}}</td>
                                    <td>{{class.name}}</td>
                                    <td>{{class.point}}</td>
                                    <td>{{class.dept}}</td>
                                    <td>{{class.teacher}}</td>
                                </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">可选课程</h4>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      课程号
                                  </th>
                                  <th>
                                      课程名
                                  </th>
                                  <th>
                                      学分
                                  </th>
                                  <th>
                                      开课系
                                  </th>
                                  <th>
                                      教师姓名
                                  </th>
                              </thead>
                              <tbody>
                                <tr *ngFor="let class of selectableCourses">
                                    <td>{{class.id}}</td>
                                    <td>{{class.name}}</td>
                                    <td>{{class.point}}</td>
                                    <td>{{class.dept}}</td>
                                    <td>{{class.teacher}}</td>
                                </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
